.root{
	-fx-background-image: url(background.png);
	-fx-font-family: Arial;
	-fx-border-width: 0px;
	-fx-background-radius: 30px;
	-fx-border-radius: 30px;
}

VBox{
	-fx-background-color: #1b1b1b;
	-fx-background-radius: 10px;
	-fx-padding: 40px;
}

Label{
	-fx-font-size: 25px;
	-fx-font-weight: bold;
	-fx-text-fill: white;
	-fx-padding: 20px 0px 10px 0px;
}

Button{
	-fx-background-color: transparent;
	-fx-font-size: 18px;
	-fx-font-weight: bold;
	-fx-text-fill: #808080;
	-fx-padding: 0px;
	-fx-padding: 0px 0px 10px 0px;
}

.launchbutton{
	-fx-background-image: url(launchbutton.png);
	-fx-pref-height: 100px;
	-fx-pref-width: 350px;
}

.optionsbutton{
	-fx-background-image: url(optionsbutton.png);
	-fx-background-repeat: stretch;
	-fx-pref-height: 22px;
	-fx-pref-width: 167px;
}

.backbutton{
	-fx-background-image: url(backbutton.png);
	-fx-background-repeat: stretch;
	-fx-pref-height: 22px;
	-fx-pref-width: 120px;
}

.closebutton {
	-fx-background-image: url(closebutton.png);
	-fx-pref-height: 67px;
	-fx-pref-width: 52px;
}

.launchbutton:hover {
	-fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.closebutton:hover{
	-fx-scale-x: 1.15;
    -fx-scale-y: 1.15;
}